.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#wrapper {
            width: 70%;
            margin: auto;
            height:700px;
            text-align: center;
            border: 1px solid grey;
            border-radius: 10px;
            margin-top: 50px;
            font: normal 14px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(bg.png) repeat 0 0, url(11178287-the-creation-of-adam.jpg) repeat 0 0;
            background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%), url(11178287-the-creation-of-adam.jpg) repeat 0 0;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.7))), url(11178287-the-creation-of-adam.jpg) repeat 0 0;
            background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(11178287-the-creation-of-adam.jpg) repeat 0 0;
            background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(11178287-the-creation-of-adam.jpg) repeat 0 0;
            background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(11178287-the-creation-of-adam.jpg) repeat 0 0;
            background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(11178287-the-creation-of-adam.jpg) repeat 0 0;
         }
            #wrapper > header {
                font-family: 'Yesteryear', cursive;
                font-size: 25px;
                text-shadow: 3px 3px #808080;
         }

        #user-nickname {
            font-weight: bold;
            font-size: 1.1em;
        }

        .button {
            display: inline-block;
            padding: 5px 15px;
            border: 1px solid #444;
            border-radius: 3px;
            text-decoration: none;
            color: black;
            background-color: #ccc;
            margin:15px;
        }
button {
    width:80px;
    height:30px;
    margin:10px;
    font-size:12px;
}
#content {
    width:80%;
    margin:auto;
}
#tb-user {
    margin:10px;
}

#header {
    border:1px solid black;
}
#avatar {
    width:70px;
    height:70px;
    border:1px solid black;
    float:left;
}
#user-nickname {
    float:left;
    margin-left:10px;
    margin-top:40px;
}
#btn-logout {
    margin-top:40px;
    float:right;
}
#chat-content {
        margin-top:10px;
}
#notification {
    height:400px;
    border:1px solid black;
    float:left;
    width:15%;
}
#msg-content {
    width:70%;
    height:400px;
    border:1px solid black;
    float:left;
    background-color:rgba(255, 255, 255, .5);
    overflow-y: scroll;
}
#user-list {
    width:14%;
    height:400px;
    border:1px solid black;
    float:left;
}
ul {
    list-style-type:none;
    padding:0;
}
#user-list>ul {
    text-align:left;
}
#user-list>ul>li {
    margin:5px 5px 10px 15px;
}
#input {
    border:1px solid black;
    margin-top:10px;
}
#msg-text {
    width:70%;
    float:left;
    height:30px;
    margin:10px 10px 10px 0;
}

.message-from-other {
    list-style-type:none;
}